body.dark-theme {
  &{
    --fontColor: #a9a9b3;
    --lightFontColor: #bbb;
    --darkFontColor: #6e7173;
    --bodyBgColor: #333438;
    --headerBgColor: #292a2d;
    --borderColor:#aaa
  }

  background-color: var(--bodyBgColor);
  img{
    filter: brightness(0.5);
  }
  color: var(--fontColor);
  transition: all 0.2s ease;
  a,
  .post .post-content ul a,
  .post .post-content ol a
  {
    color:#ccc;
  }
  a:hover,
  a:active {
    color: #eee;
  }
  #sidebar .widget .search-form input {
    background-color: var(--bodyBgColor);
    color: var(--fontColor);
    border-color: var(--fontColor);
  }
  /* & *,
  #header {
    background-color: var(--bodyBgColor);
    color: var(--fontColor);
    transition: all 0.2s ease;
  }
  #header {
    border-color: #eee;
    .site-name #logo {
      color: #ddd;
    }
    #nav-menu a {
      border-bottom-color: var(--fontColor);
      &:hover {
        border-bottom-color: #fff;
      }
      &.current {
        border-bottom-color: var(--bodyBgColor);
      }
    }
  }
  .post .post-content {
    color: var(--fontColor);
  }
  .post .post-title,
  .post .post-title a {
    color: #bbb;
  }
  .post .post-title:hover,
  .post .post-title a:hover {
    color: #eee;
  }
  .post-archive {
    li a {
      color: #ccc;
      // font-weight: 700;
    }
  } */
  .realPost{
    h1.post-title {
      color:#d8d8d8;
    }
    .post-content ul code,
    .post-content p code,
    .post-content ol code{
      background-color:#474c4c;
      color:#e1911b;
    }
    figure.highlight,
    figure .gutter pre span,
    .codeblock,
    figure.highlight .gutter,
    .codeblock .gutter{
      background: #474c4c;
    }
    .gitment-editor-tab.gitment-selected,
    .gitment-editor-body textarea{
      background-color: var(--bodyBgColor);
      color: var(--fontColor);
    }
  }
}